html {
  font-family: Helvetica;
  text-align: center;
}

.background {
  background-image: url(../resources/images/building.png);
  background-size: cover;
  background-position: center;

}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 23px;
}

nav li {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

p {
  font-size: 14px;
}

.white, nav a, div a {
  color: white;
}

.bold {
  font-weight: bold;
}

.process {
  font-size: 32px;
}

.gray {
  text-align: left;
  background-color: dimgray;
}

.size {
  font-size: 11px;
}

.gray {
  background-color: dimgray;
}

.broadway {
  font-size: 11px;
}
