html{
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.link{
  font-size: 18px;
  color: white;
}

.title{
  background-image: url(../resources/images/building.png);
}
